html {
    font-size: 16px;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.parent {
    width: 1280px;
    padding: 10px;

}
h1, h2, h3{
    margin: 0;
}

.parent div:not(:first-child){
    color: rgba(34, 34, 34, 0.62);
}

h1{
    font-size: 3.5em;
    font-weight: 900;
    line-height: 66px;
}
h2{
    font-size: 2.625em;
    font-weight: 500;
    line-height: 49px;
}
h3{
    font-size: 1.75em;
    font-family: 'Sail', cursive;
    font-weight: 400;
    line-height: 32px;
}
.block{
    height: 150px;
    padding: 10px;
}
.block:nth-child(odd){
    width:75%;
}
.block:nth-child(even){
    width:50%;
}

.block-1{
    background: #55B3B9;
}

.block-2{
    background: #C56060;
    margin:10px 0;
}
.block-3{
    background: #8FC091;
    margin:10px 0;
    text-align: center;
    text-transform: uppercase;
}
.block-3 h2{
    font-size:1.5em;
    line-height: 28px;
}
.block-3 h3{
    font-size: 1em;
    text-decoration-line: underline;
    line-height: 18px;
}
.block-4{
    background: #8F86AF;
    text-decoration: line-through;
}
.block-4 h2{
    font-weight: 800;
    text-decoration-line: line-through;
}
div:hover  {
    font-size: 2em;
}
